body {border:3px dashed black; Background-color: #00FFF0;
	}
	Div
	{
		Display:block;
		padding:20px,10px,20px,10px;
	}
	.header{
		backround-color: #F1F1F1;
		Text-align: center;
	padding:20px; }
	
	.paragraph{
		backround-color:#FFFFFF;
		